#container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 1rem;
  padding: 1rem;
}

#svgContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  background-color: antiquewhite;
}

.svgShape {
  background-color: white;
  width: 3rem;
  height: 3rem;
}

#canvasContainer {
  background-color: antiquewhite;
  width: 60rem;
}

#output {
  background-color: antiquewhite;
  overflow: auto;
  width: 38rem;
}

#controls {
  display: none;
  gap: 1rem;
  padding: 1rem;
  background-color: antiquewhite;
}