@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --ff: "Karla", sans-serif;
  --h2: 500 1rem var(--ff);
  --color-primary: hsl(213, 50%, 90%);
  --color-pre-primary: hsl(213, 50%, 95%);
  --color-secondary: hsl(213, 50%, 10%);
  --color-accent: hsl(218, 80%, 20%);
  --color-tertiary: hsl(0, 80%, 30%);
  --color-hover: hsl(218, 80%, 80%);
}

.dark {
  --color-primary: hsl(213, 50%, 10%);
  --color-pre-primary: hsl(213, 50%, 15%);
  --color-secondary: hsl(213, 50%, 90%);
  --color-accent: hsl(218, 80%, 80%);
  --color-tertiary: hsl(0, 80%, 60%);
  --color-hover: hsl(218, 40%, 60%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  font-family: var(--ff);
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-pre-primary);
  padding: 0.4rem 10vw;
}

h2 {
  font: var(--h2);
  padding: 0.4rem;
  margin: 0;
}